<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="app">
    <h1>Admin Page</h1>
    
    <form @submit.prevent="createCar">
        <label for="inputMarca">Marca</label>
        <input type="text" id="inputMarca" v-model="marca">
        
        <label for="inputModelo">Modelo</label>
        <input type="text" id="inputModelo" v-model="modelo">
        
        <button type="submit">Crear</button>
    </form>

    <p id="errorMsg" style="color: red;"></p>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../scripts/createCar.js"></script>
</body>
</html>